body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(23, 27, 31);
}
.product-container {
    background-color: rgb(33, 38, 43) ;
    margin: 0 auto; 
    width:90%;

}
.container {
    z-index: 100; 
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(23, 27, 31, 0.9);
    padding: 30px 50px;
}
.nav-link {    
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
    position: relative;

}

.nav-link:hover {
    color: rgb(166, 176, 179);
    transform: scale(1.05);
}

.nav-link.active {
    color: rgb(166, 176, 179);
    font-weight: bold;
}
.product-info {
    width: 100%;
    max-width: 500px;
    margin: 0 auto; 
    margin-top: 30px;
}

.card {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    object-fit: cover;
}

.product-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.price-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.price {
    font-size: 22px;
    color: #00ff99;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #00ff99;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.description {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}
/* -------------------------------------------- */
.swiper-wrapper-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    height: 60vh;
    overflow: hidden;
    overflow: hidden;
}


.swiper-container {
    width: 90%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(21, 24, 27, 0.5);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

@media all and (max-width: 1920px) {
    .nav {
        display: flex;
        gap: 70px;
        font-size: 24px;
      }
    .main_icon {
        font-size: 26px;
    }

}

@media all and (max-width: 1200px){
    .nav {
        display: flex;
        gap: 70px;
        font-size: 22px;
      }
    .main_icon {
        font-size: 24px;
    }
}

@media all and ( max-width: 600px){
    .nav {
        display: flex;
        gap: 20px;
        font-size: 20px;
    }
    .main_icon {
        font-size: 22px;
    }
}
