body {
    background-color: rgb(23, 27, 31);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    z-index: 100; 
    top: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgba(23, 27, 31, 0.9);
    padding: 30px 50px;
  }
  

@media all and (max-width: 1920px) {
    .nav {
        display: flex;
        gap: 70px;
      }
}

@media all and (max-width: 1200px){
    .nav {
        display: flex;
        gap: 70px;
      }
}

@media all and ( max-width: 600px){
    .nav {
        display: flex;
        gap: 20px;
      }
}
